[remote "iberianpig"]
	url = git@github.com:iberianpig/tig-explorer.vim.git 
	fetch = +refs/heads/*:refs/remotes/iberianpig/*
[gsync]
    remote = iberianpig
    target = iberianpig/master
[push]
    remote = origin
